@model Telerik.Sitefinity.Frontend.Mvc.Helpers.ViewModels.Fields.RelatedDataFieldViewModel

@using Telerik.Sitefinity.Model;
@using Telerik.Sitefinity.Libraries.Model;

<div>
    @if (!Model.FieldTitle.IsNullOrEmpty())
    {
        <strong>@Model.FieldTitle:</strong>
    }

    <ul>
    @foreach (IDynamicFieldsContainer relatedItem in Model.RelatedItemCollection)
    {
        <li class="media">
            <a href='@(((MediaContent)relatedItem).MediaUrl)'><img src='@(((MediaContent)relatedItem).ThumbnailUrl)' alt='@(((Image)relatedItem).AlternativeText)' title='@relatedItem.GetValue(Model.IdentifierField)' /></a>
        </li>   
    }
    </ul>
</div>